<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgl.zhuye.dao.AccountMapper">

    <insert id="addAccount" parameterType="Account">
        insert into account (xh, name, password) values (#{xh}, #{name}, #{password});
    </insert>

    <select id="getAccountByXh" resultType="Account">
        select * from account where xh = #{xh};
    </select>


</mapper>