<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgl.zhuye.dao.GraduateMapper">
    <select id="getStudentInfo" resultType="Graduate">
        select * from graduate where xh = #{xh};
    </select>

    <select id="listAllStudent" resultType="Graduate">
        select * from graduate;
    </select>
</mapper>